<!-- About Section -->
    <div id="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-6"><img src={{ story.photo.url }} alt=""> </div>
          <div class="col-xs-12 col-md-3 col-md-offset-1">
            <div class="about-text">
              <div class="section-title">
                <h2>Our Story</h2>
              </div>
              <p>{{ story.story }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>